<p>Brilliant Blue</p>
<div class="video-wrap">
  <p>Brilliant Blue</p>
  <iframe width="1280" height="720" src="http://www9.nhk.or.jp/das/movie/D0002011/D0002011458_00000_V_000.mp4" frameborder="0" allowfullscreen></iframe>
</div>