.container{
  margin-top: 50px;
  padding-bottom: 100px;
}

.music-col{
  text-align: center;
}

.music-index{
  margin-top: 50px;
}

img{
  width: 80%;
}

.posts-block{
  margin-top: 30px;
}

.loading-btn{
  margin-top:20px;
  font-size:1.2rem;
}

.post-time{
  font-size: 0.6rem;
}



