<h1 class="text-center">どの動画について語る？</h1>

<div class="music-index">
  <div class="row">
    <% @musics.each do |music| %>
      <div class="col-sm-12 col-md-6 music-col">
        <%= link_to music_path(music, title: music.title, url: music.url) do %>
          <div>
            <%= image_tag (music.image) %>
          </div>
          <div>
            <%= music.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>